<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login
    </title>
    <link rel="stylesheet" href="../static/login.css">
   
</head>

<body>
            <div class="wholec">

            <div class='container'>

                <aside>
                    <div>


                        <img src=' https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIzQ7EFJn3ieAbyYylCNhAI1SxS6sVkTLerw&usqp=CAU' alt='' />
                        <h1 class='lheading'>Welcome Back</h1>
                        <h4>|| Be connected to the World || Digital Media </h4>
                    </div>
                </aside>
                <section>

                    <h2><em>Login</em></h2>
                    <form action="#" method="post" id='form' class='forms'>

                        <div class="loginform">
                            <div class="name_input">

                                <label htmlFor="username">Name : </label> 
                                <input type="text"  name="user_name" id="username"  style="outline: none" placeholder='Enter Username' required='true' />
                            </div>


                            <div class="pass_input">
                                <label htmlFor="password">Password :</label>
                                <input type="password" name="password" id="password" autoComplete='current-passwords' style="outline:none"; required='true' placeholder='Enter Password' />
                            </div>
                            <button type="submit" class='submit_button'>Login</button>
                        </div>
                    </form>
                    <div class="redirectsignup">
                        <p class="redcontent">
                            New user ?
                        </p>
                        <span class="SignS">

                            <a href="./signup"  style="textDecoration: none" "color: black", "fontWeight: bold " >SignUp 
                                </a>
                        </span>
                    </div>


                </section>
            </div>



        </div>
</body>
</html>